@charset "utf-8";

#main .conts{.clr();display:block;margin-bottom:15px;position:relative;}
#main .conts:last-child{margin-bottom:0;}

#main .cont{.clr();position:relative;}
#main .cent{.clr();margin-right:215px;}
#main .sider{.clr();float:right;width:200px;position:absolute;top:0;right:0;}
