@charset "utf-8";
@import url("../images/common.defined.css");


body.frame{overflow-x:hidden;overflow-y:hidden;}
body{background-color:#FFF;}
.debugi{display:none;}

a{color:#1E5494;text-decoration:none;}
a:hover{color:#034494;text-decoration:underline;}


#header{clear:both;height:80px;overflow:hidden;}
#header .inners{}
#header a{text-decoration:none;}
#header a:hover{text-decoration:underline;}
#header .inners{background:url("top_bg.jpg") no-repeat top right;}
/*
#header{color:#FFF;background:#5E93DC url("nav/bg.gif") repeat-x;}
#header .inners{background:url("nav/bg_effect.gif") no-repeat top left;}
#header a{color:#FFF;}
#header a:hover{color:#FFF;}
*/
#header .bar{height:50px;}
#header .bar > h2{float:left;width:350px;line-height:50px;text-align:left;font-size:16px;font-weight:bold;}
#header .bar > h2 .name{font-size:20px;margin-left:20px;}
#header .bar > h2 .title{font-size:14px;margin-left:15px;}
#header .bar .navi{float:right;line-height:50px;padding:30px 20px 0 0;}
#header .bar .navi ul{list-style:none;}
#header .bar .navi li{float:left;display:inline-block;height:20px;line-height:20px;padding:0;margin:0 0 0 10px;}
#header .bar .navi li a{display:inline-block;width:20px;height:20px;line-height:20px;background:url("sprites.png") 0 0 no-repeat;text-indent:-999px;overflow:hidden;}
#header .bar .navi li.welcome{padding-right:10px;}
#header .bar .navi li.welcome .name{font-weight:bold;}
#header .bar .navi li.profile a{background-position:-4px -5px;}
#header .bar .navi li.setting a{background-position:-4px -58px;}
#header .bar .navi li.main a{background-position:-48px -85px;}
#header .bar .navi li.refresh a{background-position:-4px -5px;}
#header .bar .navi li.help a{background-position:-4px -58px;}
#header .bar .navi li.logout a{background-position:-4px -85px;}
#header .bar .navi li.refresh,
#header .bar .navi li.help{display:none;}
#header .menu{clear:both;height:30px;}
#header .menu .side{float:left;width:182px;height:30px;line-height:28px;text-align:center;color:#A89B87;}
#header .menu .nav{height:30px;margin:4px 0 160px 0;}
#header .menu .nav ul{list-style:none;margin:0;padding:0;}
#header .menu .nav li{float:left;display:inline-block;line-height:26px;padding:0;margin-right:6px;}
#header .menu .nav li span{font-size:12px;font-weight:bold;}
#header .menu .nav a{display:block;color:#D5E1F7;text-decoration:none;background-color:#6392C8;padding:0 8px;}
#header .menu .nav a:visited{text-decoration:none;}
#header .menu .nav a:hover{color:#FFF;text-decoration:none;background-color:#000;}
#header .menu .nav a:active{text-decoration:none;}
#header .menu .nav a{-webkit-border-radius:4px 4px 0 0;-o-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;overflow:hidden;}
#header .menu .nav li.pop{}
#header .menu .nav li.pop a{color:#FFF;background-color:#89B5E9;}
#header .menu .nav li.pop a:hover{color:#FFF;}

#footer{clear:both;height:30px;background-color:#89B5E9;padding-left:4px;margin-left:5px;}
#footer .copyright{line-height:30px;}


#body{clear:both;}
#body > .inners{background-color:#89B5E9;margin-left:5px;}
#body > .inners{-webkit-border-radius:7px 0 0 0;-o-border-radius:7px 0 0 0;border-radius:7px 0 0 0;overflow:hidden;}
#body .menus .space{height:8px;}
#body .menus{float:left;width:168px;border:1px solid #6392C8;margin:5px 0 5px 5px;}
#body .menus{-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;overflow:hidden;}
#body .menus .items{}
#body .menus .items li{height:20px;line-height:20px;}
#body .menus .items li.sup{height:0;}
#body .menus .items li.sup a{float:right;margin-top:-20px;}
#body .strips{float:left;width:5px;padding:0;margin:0;overflow:hidden;}
#body .strips a{}
#body .strips a span{display:none;}
#body .mains{border:1px solid #6392C8;border-right:0;border-bottom:0;margin-top:5px;}
#body .mains{-webkit-border-radius:5px 0 0 5px;-o-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;overflow:hidden;}
#body .menus,
#body .mains{border-color:#6392C8;background-color:#FFF;}
#body .menus iframe,
#body .mains iframe{width:100%;}
#body .menus iframe,
#body .mains iframe,
#body .menus,
#body .strips,
#body .mains{min-height:500px;_height:500px;}


#menus{clear:both;max-width:300px;margin:10px;}
#menus .loading{display:inline-block;width:16px;height:16px;background:url("/images/common/load/16_o.gif");margin:0;}
