@charset "utf-8";
@import url("/images/css/comm/page.frame.css");
/*
@import url("/images/themes/res/bg/bg.css");
*/


#header{}
#header > .inners{}

#header .menu{}
#header .menu > .inner{}
#header .menu ul{height:40px;}
#header .menu ul{
	background-repeat: repeat-x;
	background-color: #f5f5f5;
	.bg_linear(#ffffff, #e6e6e6);
	border:1px solid #E7E7E7;
	/*
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*/
	.rc(5px);
}
#header .menu li{}
#header .menu li.linev{display:none;}
#header .menu li a{padding:0 20px;}
#header .menu li.pop a,
#header .menu li a:hover{
	color:#FFF;
	background-repeat: repeat-x;
	background-color:#3258A8;
	.bg_linear(#4D83C9, #2F517D);
}
/*
	//red
	background-color:#DE3843;
	.bg_linear(#DE3843, #C32329);
*/
#header .menu li:first-child a:hover{.rcl(5px);}

#header .search{display:none;}
#header .info{display:none;}


#footer{clear:both;height:220px;background:url("/themes/default/frame/footer_bg.png") 0 0 repeat-x;overflow:hidden;}
#footer > .inners{margin-top:0;}
#footer,
#footer a{color:#7b7b7b;}
#footer a:hover{color:#999;}

#footer .menu{.posl(0,10px);}
#footer .logo{.posl(0,65px);}
#footer .links{.posl(280px,65px);}
#footer .contacts{.posl(580px,65px);}
#footer .info{.posl(0,195px);}

#footer .logo{width:279px;height:110px;border-right:#303030 1px solid;}
#footer .logo a{margin-top:25px;margin-left:60px;}
#footer .links{width:278px;height:110px;border-left:#171717 1px solid;border-right:#303030 1px solid;padding-left:20px;}
#footer .links h2{height:35px;background:url("/themes/default/frame/footer.png") no-repeat 0 0;}
#footer .links ul{margin-left:5px;}
#footer .links li{line-height:25px;}
#footer .contacts{width:378px;height:110px;border-left:#171717 1px solid;padding-left:20px;}
#footer .contacts h2{height:35px;background:url("/themes/default/frame/footer.png") no-repeat 0 -40px;}
#footer .contacts ul{margin-left:0;}
#footer .contacts li{line-height:25px;}
#footer .contacts .address{display:inline-block;height:20px;line-height:20px;background:url("/themes/default/frame/footer.png") no-repeat 0 -80px;padding-left:20px;}
#footer .contacts .phone{}
