@charset "utf-8";
/*
Uodated:	2014-04-00
*/


@headbar_opacity: 0.9;
@headbar_height: 40px;
@headbar_space: 10px;
@headbar_font_size: 14px;
@headbar_bg: #FCFCFC;
@headbar_bg_hover: #EEE;
@headbar_acolor: #4C4C4C;
@headbar_acolor_hover: #FF8400;
@headbar_menu_a_space: 15px;
@headbar_nav_a_space: 12px;
@headbar_sub_width: 120px;
@headbar_sub_height: 36px;
@headbar_sub_font_size: 14px;
@headbar_sub_bg: #FFF;
@headbar_sub_bg_hover: #F7F7F7;
@headbar_sub_acolor: #666;
@headbar_sub_acolor_hover: #000;
@headbar_sub_border_top:1px;
@headbar_sub_border_top_color:#DDD;


.headbar_li(){}
.headbar_li_hover(){}
.headbar_sub_effect(){.rc(0 0 5px 5px);.shadow(0 1px 2px rgba(0,0,0,0.6));}


#headbar_holder{height:@headbar_height;margin-bottom:@headbar_space;}

#headbar{width:100%;height:@headbar_height;background:@headbar_bg url("bg.png") repeat-x 0 0;_background-image:url("bg.gif");position:fixed;_position:absolute;left:0;top:0;z-index:9999;}
#headbar{.shadow(0 -4px 4px 6px rgba(0,0,0,.1));}
/*
border-top-color:#CA0000;
box-shadow: 0 -8px 8px 12px rgba(0,0,0,.1);
box-shadow: 0px 1px 3px 0px #aaa;
*/
#headbar{.opacity(@headbar_opacity);}
#headbar > .inners{position:relative;}
#headbar{font-size:@headbar_font_size;}
#headbar a{color:@headbar_acolor;text-decoration:none!important;}
#headbar a:hover,
#headbar li.pop > a,
#headbar li:hover > a{color:@headbar_acolor_hover;}

#headbar dl{display:none;width:@headbar_sub_width;font-size:@headbar_sub_font_size;text-align:left;background-color:@headbar_sub_bg;margin-top:-0px;left:0;position:absolute;overflow:hidden;}
#headbar dl{.headbar_sub_effect();}
#headbar dl.al{left:0;right:auto;}
#headbar dl.ar{left:auto;right:0;}
#headbar li:hover > dl{display:block;}
#headbar dd{display:block;width:100%;height:@headbar_sub_height;line-height:@headbar_sub_height;border-top:@headbar_sub_border_top solid @headbar_sub_border_top_color;white-space:nowrap;text-overflow:ellipsis;}
#headbar dl dd:first-child{border-top:0;}
#headbar dd:hover{background-color:@headbar_sub_bg_hover;}
#headbar dd > a{display:block;width:100%;}
#headbar dd > a{color:@headbar_sub_acolor;}
#headbar dd > a:hover{color:@headbar_sub_acolor_hover;}
#headbar .nav dl{left:auto;right:0;}
/*
#headbar dl{background-color:#363636;}
#headbar dd{border-top-color:#424242;}
#headbar dd:hover{background-color:#272727;}
*/

#headbar .logo a{float:left;display:inline-block;margin:0 24px 0 0;width:120px;height:@headbar_height;}
#headbar .logo a{margin:3px 24px 0 0;width:96px;height:35px;background-image:url("/images/logo@2x.png");background-position:0 0;background-size:96px 70px;.txt_hide();}
#headbar .nav li,
#headbar .menu li{float:left;display:inline-block;height:@headbar_height;line-height:@headbar_height;margin-left:0;position:relative;.headbar_li();}
#headbar .nav li.pop,
#headbar .nav li:hover,
#headbar .menu li.pop,
#headbar .menu li:hover{background:@headbar_bg_hover url("bg.png") repeat-x 0 -50px;_background-image:url("bg.gif");.headbar_li_hover();}

#headbar .menu{float:left;}
#headbar .menu li a{display:inline-block;padding:0 @headbar_menu_a_space;}
#headbar .menu li > a span{font-weight:bold;}

#headbar .nav{float:right;_margin-top:15px;}
#headbar .nav li > a{display:inline-block;padding:0 @headbar_nav_a_space;}
#headbar .nav ul{float:left;}
#headbar .nav li.cur{margin:0;}
#headbar .nav li.cur em{display:block;}
#headbar .nav li.cur a{color:#FFF;}

#headbar .nav li.nt{margin-left:5px;}
#headbar .nav li.nt.pop,
#headbar .nav li.nt:hover{background-color:transparent!important;}
#headbar .nav li.nt a{display:inline-block;height:24px;line-height:24px;color:#FCE98C;margin-top:8px;_margin-top:0;}
#headbar .nav li.nt:hover a{color:#FFF;}
#headbar .nav li.nt a em{float:left;display:block;font-size:12px;}
#headbar .nav li.nt a u{float:left;display:block;width:24px;background:transparent url("icons-nt.png") no-repeat 2px 2px;text-indent:-200px;overflow:hidden;}
#headbar .nav li.nt a u{-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
#headbar .nav li.nt a u:hover{background-position:2px -18px;}
#headbar .nav li.at a u{background-position:2px 2px;}
#headbar .nav li.at a u:hover{background-position:2px -18px;}
#headbar .nav li.inbox a u{background-position:-18px 1px;}
#headbar .nav li.inbox a u:hover{background-position:-18px -19px;}
#headbar .nav li.follower a u{background-position:-38px 2px;}
#headbar .nav li.follower a u:hover{background-position:-38px -18px;}
#headbar .nav li.notice a u{background-position:-58px 2px;}
#headbar .nav li.notice a u:hover{background-position:-58px -18px;}
#headbar .nav li.at a{}
#headbar .nav li.follower a{}
#headbar .nav li.inbox a{}
#headbar .nav li.notice a{}
#headbar .nav li.ua{width:120px;margin-left:10px;}
#headbar .nav li.ua > a{padding:0 0;}
#headbar .nav li.ua img{margin-left:6px;margin-top:-2px;}
#headbar .nav li.ua span{margin-left:12px;}
#headbar .nav li.ua a.ua{display:block;padding-right:3px;.nowrap();overflow:hidden;}
#headbar .nav li.ua dd a{background:transparent url("icons-ua.png") no-repeat 8px 9px;padding-left:6px;}
#headbar .nav li.ua dd.logout a{background-position:8px -31px;}
#headbar .nav li.ua dd.settings a{background-position:8px -71px;}
#headbar .nav li.ua dd.notices a{background-position:8px -109px;}
#headbar .nav li.ua dd.inbox a{background-position:8px -149px;}
#headbar .nav li.ua dd a span{margin-left:34px;}


#headbar .avatar.s{width:24px;height:24px;border-width:1px;}
