@charset "utf-8";
/*
Version:	VDCS CMS @search v1.0
Support:	http://go.hpns.cn/vdcs/css
Uodated:	2013-05-00
*/


/* ######## Search ######### */
.search{}
.sea-keyword,.sea-field,.sea-term,.sea-button{padding:2px 0;}
input.keyword{width:100px;}
