@charset "utf-8";
@import url("/images/themes/default/sets/sets.menu-icon.css");


/* ######### navbar ######## */
#navbar{clear:both;margin-top:5px;}
#navbar h2{}
#navbar h3{margin-top:10px;}
#navbar h3 a{}
#navbar h3 a:hover{}
#navbar h3 a:first-child em{display:none;}
#navbar{margin-left:50px;margin-bottom:15px;}


/* ########## wrap ######### */
#menu{width:50px;}
#main{width:930px;margin-left:0;}
#main{background-color:#FFF;.rc(0 5px 5px 5px);}

#main .conts{margin-left:80px;}

#main .xform{padding:0;margin:0;}


/* ########## stes ######### */
.sets_nav{clear:both;padding:10px 20px;margin-bottom:5px;}
.sets_nav .bars{}
.sets_nav .bars h2{font-size:30px;}
.sets_nav .bars p{font-size:14px;color:@color_gray;line-height:1.5em;}
.sets_nav .links{}
.sets_nav .links ul{clear:both;height:25px;margin-left:60px;margin-top:20px;}
.sets_nav .links ul li{float:left;font-size:14px}
.sets_nav .links ul li a{display:inline-block;width:84px;height:23px;border-bottom:3px solid @lcolor_e;text-decoration:none}
.sets_nav .links ul li.pop a,
.sets_nav .links ul li a:hover{border-bottom-color:@lcolor_light;text-decoration:none}

.sets_menu{.rc(5px);}
