@charset "utf-8";
@import url("/images/themes/default/sets/sets.menu-icon.css");


/* ######### navbar ######## */
#navbar{clear:both;}
#navbar h3{margin-top:10px;}
#navbar h3 a{}
#navbar h3 a:hover{}
#navbar h3 a:first-child em{display:none;}
#navbar{margin-left:50px;margin-bottom:15px;}


/* ########## wrap ######### */
#menu{width:50px;}
#main{width:930px;margin-left:0;}
#main{-webkit-border-radius:0 5px 5px 5px;-o-border-radius:0 5px 5px 5px;border-radius:0 5px 5px 5px;overflow:hidden;}

#main .conts{margin-left:80px;}

#main .xform{padding:0;margin:0;}


/* ########## stes ######### */
.sets_nav{clear:both;padding:10px 20px 20px 20px;}
.sets_nav .bars{}
.sets_nav .bars h2{font-size:30px;}
.sets_nav .bars p{font-size:14px;color:#969696;line-height:1.5em;}
.sets_nav .links{}
.sets_nav .links ul{clear:both;height:25px;margin-left:60px;margin-top:20px;}
.sets_nav .links ul li{float:left;font-size:14px}
.sets_nav .links ul li a{display:inline-block;width:84px;border-bottom:3px solid #ababab;text-decoration:none}
.sets_nav .links ul li.pop a,
.sets_nav .links ul li a:hover{border-bottom-color:#29abe2;text-decoration:none}
