@charset "utf-8";


a{color:#004080;text-decoration:none;}
a:hover{color:#D20000;text-decoration:underline;}

sh,.space,.spacer,.spacei{height:15px;overflow:hidden;}


/* page */
/* con = bod + side */
/* main = side + cent + sider */
/* main = side + cont */
/* cont = cent + sider */
#menu{}
#main{}
#main > .cont{}
#main > .cent{}
#main > .side,
#main > .sider{}

.framers,
.framer{width:980px;}
.framer > .main{width:980px;}
.framer > .cont{width:735px;}
.framer > .cent{width:490px;}
.framer > .menu,
.framer > .side{width:230px;}
.framer > .sider,
.framer > .relate{width:230px;}

/*.framer{.rc(8px);background-color:#FFF;}*/
/*
.framer > .halfc{float:left;width:370px;}
.framer > .halfl{float:left;width:360px;margin-right:@framer_space;}
.framer > .halfr{float:right;width:360px;margin-left:@framer_space;}

.framem{.clr();}
.framem > .cent{float:left;width:355px;}
.framem > .side{float:left;width:365px;margin-right:@framer_space;}
.framem > .sider{float:right;width:365px;margin-left:@framer_space;}
*/

.pages > h2,
.pages > h3,
.pages > h2 a,
.pages > h3 a{color:#013E55;}
.pages > h2 a:hover,
.pages > h3 a:hover{color:#D20000;}
.pages .title,
.pages .topic,
.pages h3{color:#29458C;}
.pages .subtopic,
.pages h4{color:#235D83;}

