@charset "utf-8";
/*
Version:	VDCS comm @attrs v1.0
Support:	http://go.hpns.cn/vdcs/css
Uodated:	2013-05-00
*/


.attrs{clear:both;text-align:left;}
.attrs ul{}
.attrs li{height:30px;line-height:30px;font-size:14px;}
.attrs li cite{display:inline-block;width:80px;}
.attrs li.prc .price{font-size:24px;font-weight:bold;}
.attrs li.prc .price s{font-size:14px;font-weight:normal;}
.attrs li .comment{margin-left:5px;}
