@charset "utf-8";
/*
Version:	VDCS comm @pages v1.0
Support:	http://uri.sx/vdcs.css
Uodated:	2014-03-00
*/

.pages{clear:both;text-align:left;}
.pages > h2{font-size:1.8em;font-weight:bold;text-align:center;padding:5px 0;margin:10px 0;}
.pages > h2 t{.shadow_tit(#CCC,3px);}
.pages > h2 a,
.pages > h2 a:hover,
.pages .layer{padding:0 0 0 20px;}
.pages .title,
.pages .topic,
.pages h3{display:block;color:@color_t;font-size:@font_size_t;font-weight:bold;border-bottom:2px solid @lcolor;padding:0;margin:0;margin-bottom:8px;}
.pages .title t,
.pages .topic t,
.pages h3 t{display:inline-block;padding:10px 0;margin-bottom:-2px;border-bottom:2px solid @lcolor_t;}
.pages h4,
.pages .subtopic{color:@color_t2;font-weight:bold;padding:3px 0;}
.pages .content,
.pages content{margin-bottom:10px;}
.pages .content:last-child{margin-bottom:0;}
.pages .content p{margin:8px 0;}
.pages .indent{padding-left:20px;}

/*
.pages .title{height:40px;text-align:center;color:#29458C;font-size:20px;font-weight:bold;padding:3px 0;}
.pages .subtitle{position:relative;color:#29458C;font-weight:bold;padding:3px 0;}
.pages > .h1{color:#235D83;font-weight:bold;padding:3px 0;}
.pages > .h1 a{color:#EC5F00;font-weight:bold;text-decoration:underline;}
.pages > .h1 a:hover{color:#FF0000;}
*/
