@charset "utf-8";
/*
Version:	VDCS comm @page.view v1.0
Support:	http://go.hpns.cn/vdcs/css
Uodated:	2014-01-00
*/


.e_view{clear:both;min-height:400px;overflow:hidden;}
.e_view h2{display:block;text-align:center;margin:10px 0 20px 0;}
.e_view h2 t{font-size:2em;font-weight:bold;.shadow_tit(#CCC,3px);}
.e_view h3{display:block;text-align:center;font-size:12px;color:#999;margin-bottom:10px;overflow:hidden;}
.e_view h3 t{display:inline-block;margin:0 3px;}
.e_view h3 t i{padding:0 3px;}
.e_view h3 t.stat i{color:#b60c0c;}
.e_view h3 t.comment i{color:#b60c0c;}
.e_view h3 s{display:inline-block;width:5px;}
.e_view h3 s:last-child{display:none;}
.e_view .pics{float:left;width:352px;margin:0;padding:0;text-align:left;overflow:hidden;}
.e_view .pics pic{clear:both;}
.e_view .pics pic a{display:inline-block;width:350px;height:350px;border:1px solid #E4E4E4;overflow:hidden;}
.e_view .pics pic img{width:100%;height:100%;}
.e_view .pics dl{clear:both;display:block;height:73px;margin:1px 0 10px 0;overflow:hidden;}
.e_view .pics dt{float:left;}
.e_view .pics dt:last-child{float:right;}
.e_view .pics dt a{display:inline-block;width:11px;height:68px;background:url("/images/themes/default/channel/lrs.png") 0 0 no-repeat;margin-top:4px;}
.e_view .pics dt:first-child a:hover{background-position:-38px 0;}
.e_view .pics dt:last-child a{background-position:-96px 0;}
.e_view .pics dt:last-child a:hover{background-position:-121px 0;}
.e_view .pics dd{display:inline-block;height:73px;margin-left:3px;}
.e_view .pics li{float:left;margin-right:3px;}
.e_view .pics li a{display:inline-block;width:66px;height:73px;}
.e_view .pics li.pop a{background:url("/images/themes/default/channel/view/bg_thumb.gif");}
.e_view .pics li a img{width:64px;height:66px;margin-left:1px;margin-top:6px;}
.e_view .pics div.btn{margin-top:7px;}
.e_view .infos{text-align:left;margin-left:375px;}
.e_view .choose{margin-top:10px;}

.e_view .partof{color:#999;}
.e_view .relates {}
.e_view .relates{}
