@charset "utf-8";
/*
Version:	VDCS comm @btn v1.0
Support:	http://go.hpns.cn/vdcs/css
Uodated:	2013-09-00
*/

.tag a{
	line-height: 20px;
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	background-color: #f3f3f3;
	text-decoration: none;
}
.tag a:link,.tag a:visited{
	color: #333;
	text-decoration: none;
}
.tag a:hover,.tag a:active {
	color:#fff;
	background-color: #c00;
	text-decoration: none;
}
