@charset "utf-8";
/*
Version:	VDCS comm @btn v1.0
Support:	http://uri.sx/vdcs.css
Uodated:	2014-05-00
*/

/* 28 38 22 */

.btn {
	display: inline-block;padding: 0 @btn_padding_lr;margin: 0;.sizings();
	height:@btn_height;line-height: @btn_height - 1;
	color: @btn_color;font-size: @btn_font_size;font-weight:normal;
	text-align:center;vertical-align: middle;text-decoration: none;cursor: pointer;
	background-color: @btn_bg;border: @btn_border solid @btn_borderc;
	.rc(@btn_rc);
}

.forms.m .btn.f,
.btn-large,
.btn.b {font-size: @btn_b_font_size; padding: 0 @btn_padding_lr + 5; height:@btn_b_height;line-height: @btn_b_height - 2;.rc(@btn_b_rc);}
.btn-large [class^="icon-"],
.btn.b [class^="icon-"] {margin-top: 2px;}
.forms.s .btn.f,
.btn-small,
.btn.s{font-size: @btn_s_font_size; padding: 0 @btn_padding_lr - 4; height:@btn_s_height;line-height: @btn_s_height - 1;.rc(@btn_s_rc);}
.btn-small [class^="icon-"],
.btn.s [class^="icon-"] {margin-top: 0;}
.btn-mini,
.btn.i {height:auto;line-height: 15px;font-size: 9px;padding: 2px 6px;}

.btn.ic{line-height: 15px;font-size: 9px;padding: 2px 4px;}


.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
	color: @btn_color_hover;
	background-color: @btn_bg_hover;
	border-color: @btn_borderc_hover;
	text-decoration: none;
	outline: 0;
}

.btn.none,
.btn[disabled],
.btn.disabled {cursor: default;background-image: none;.opacity(0.65);}


/* btn m.c.g */
.btn.m {color: @btnm_color;background-color: @btnm_bg;border: 0;}
.btn.m:hover,
.btn.m:focus,
.btn.m:active,
.btn.m.active {background-color: @btnm_bg_hover;}
.btn.c {color: @btnc_color;background-color: @btnc_bg;border: 0;}
.btn.c:hover,
.btn.c:focus,
.btn.c:active,
.btn.c.active {background-color: @btnc_bg_hover;}
.btn.g {color: @btng_color;background-color: @btng_bg;border: 0;}
.btn.g:hover,
.btn.g:focus,
.btn.g:active,
.btn.g.active {background-color: @btng_bg_hover;}



/* btn style */
.btn.btn-primary{color: @btn-primary_color;background-color: @btn-primary_bg;border: 0;}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {background-color: @btn-primary_bg_hover;}

.btn.btn-warning{color: @btn-warning_color;background-color: @btn-warning_bg;border: 0;}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning:active,
.btn.btn-warning.active {background-color: @btn-warning_bg_hover;}

.btn.btn-danger{color: @btn-danger_color;background-color: @btn-danger_bg;border: 0;}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger.active {background-color: @btn-danger_bg_hover;}

.btn.btn-success{color: @btn-success_color;background-color: @btn-success_bg;border: 0;}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success:active,
.btn.btn-success.active {background-color: @btn-success_bg_hover;}

.btn.btn-info{color: @btn-info_color;background-color: @btn-info_bg;border: 0;}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info:active,
.btn.btn-info.active {background-color: @btn-info_bg_hover;}

.btn.btn-inverse{color: @btn-inverse_color;background-color: @btn-inverse_bg;border: 0;}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn.btn-inverse:active,
.btn.btn-inverse.active {background-color: @btn-inverse_bg_hover;}


/* btn group */
.btn-group {
	position: relative;
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	*zoom: 1;
	font-size: 0;
	vertical-align: middle;white-space: nowrap;
	*margin-left: .3em;
}
.btn-group:first-child {*margin-left: 0;}
.btn-group + .btn-group {margin-left: 5px;}
.btn-group > .btn {
	/*position: relative;*/
	.rc(0);
}
.btn-group > .btn + .btn {margin-left: -1px;}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {font-size:12px;}
.btn-group > .btn.b {font-size:14px;}
.btn-group > .btn:first-child {
	margin-left: 0;
	-webkit-border-top-left-radius: @btn_rc;
	-moz-border-radius-topleft: @btn_rc;
	border-top-left-radius: @btn_rc;
	-webkit-border-bottom-left-radius: @btn_rc;
	-moz-border-radius-bottomleft: @btn_rc;
	border-bottom-left-radius: @btn_rc;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
	.rcr(4px);
}
.btn-group > .btn.b:first-child {
	-webkit-border-top-left-radius: @btn_rc;
	-moz-border-radius-topleft: @btn_rc;
	border-top-left-radius: @btn_rc;
	-webkit-border-bottom-left-radius: @btn_rc;
	-moz-border-radius-bottomleft: @btn_rc;
	border-bottom-left-radius: @btn_rc;
}
.btn-group > .btn.b:last-child {
	-webkit-border-top-right-radius: @btn_rc;
	-moz-border-radius-topright: @btn_rc;
	border-top-right-radius: @btn_rc;
	-webkit-border-bottom-right-radius: @btn_rc;
	-moz-border-radius-bottomright: @btn_rc;
	border-bottom-right-radius: @btn_rc;
}


/* btn disp */
.btn span.caret {margin-top: 8px;margin-left: 0;}
.btn em.caret {margin-top: 8px;margin-left: 6px;}
.btn [class^="icon-"]{font-size: 14px;}
.btn-large .caret{margin-top: 8px;}

.btn.s span.caret,
.btn.s em.caret{margin-top:6px;}
