@charset "utf-8";
@import url("ui.btn.css");
@import url("ui.form.css");
@import url("ui.tooltip.css");
/*
Version:	VDCS comm @ui v1.0
Support:	http://go.hpns.cn/vdcs/css
Uodated:	2014-01-00
*/


.bg-green{background-color: #769f5d !important;}
.bg-red{background-color: #e95d3c !important;}
.bg-orange{background-color: #ffa200 !important;}
.bg-blue{background-color: #08c !important;}


.caret {
	display: inline-block;width: 0;height: 0;
	content: "";
	vertical-align: top;
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}


.istar{display:inline-block;width:56px;height:12px;background:url("/images/common/struct/stars.gif") 0 0 no-repeat;}
.istar.i0{background-position:0 0;}
.istar.i1{background-position:0 -14px;}
.istar.i2{background-position:0 -28px;}
.istar.i3{background-position:0 -42px;}
.istar.i4{background-position:0 -56px;}
.istar.i5{background-position:0 -70px;}

.iclose{display:inline-block;width:13px;height:13px;background:url("/images/common/struct/closed.gif") no-repeat 0 0;}
.iclose:hover{background-position:0 -13px;}
.iclose span{display:none;}

.icheck{display:inline-block;width:15px;height:15px;background:url("/images/common/struct/forms.png") -2px -262px no-repeat;cursor:pointer;}
.icheck.check{background-position:-173px -262px;}
.icheck.yes,.icheck.active,
.icheck.checked{background-position:-78px -262px;}
.icheck.m{width:18px;height:16px;background:url("/images/common/struct/selects.png") 1px -79px no-repeat;}
.icheck.m.check{background-position:1px 0;}
.icheck.m.yes,.icheck.active,
.icheck.m.checked{background-position:1px -40px;}
label .icheck{margin-right:3px;}


.iblank{clear:both;text-align:center;padding:20px 0;margin:0 auto;}
.iblank p{display:inline-block;text-align:center;margin:0 auto;}
.iblank p em{float:left;display:inline-block;width:70px;height:60px;}
.iblank p i{float:left;display:inline-block;height:60px;line-height:60px;color:#C4C4C4;font-size:16px;}
.iblank.inline{display:block;}
.iblank.inline p{}
.iblank.inline p i{vertical-align:middle;margin-left:30px;}
.iblank.clot i{display:block;margin-top:10px;}
.iblank.message em{background:url("/images/common/struct/blank.png") repeat scroll -624px -656px transparent;}
.iblank.help em{background:url("/images/common/struct/blank.png") repeat scroll -472px -656px transparent;}
.iblank.notice em{background:url("/images/common/struct/blank.png") repeat scroll -923px -656px transparent;}
.iblank.friends em{background:url("/images/common/struct/blank.png") repeat scroll -321px -473px transparent;}
.iblank.info em{background:url("/images/common/struct/blank.png") repeat scroll -923px -473px transparent;}


.ui-box{clear:both;text-align:left;border:1px solid rgba(0, 0, 0, 0.3);background-color:#FFF;overflow:hidden;}
.ui-box{.shadow(0 3px 7px rgba(0, 0, 0, 0.3));.bg_clip(padding-box);}
.ui-box > h3{display:block;height:45px;line-height:45px;border-bottom:1px solid #EEEEEE;font-size:1.5em;font-weight:bold;background-repeat:no-repeat;background-position:0 0;padding:0 15px;position:relative;}
.ui-box > h3 > .close{position:absolute;top:16px;right:15px;}
.ui-box > h5{display:block;border-top: 1px solid #ddd;background-color:#F5F5F5;text-align:right;padding:14px 9px;position:relative;}
.ui-box > h5{.shadow(inset 0 1px 0 #ffffff);}
.ui-box > h5 > a{margin:0 6px;}
.ui-box > .conts{clear:both;margin:15px;}

.ui-popup{clear:both;height:54px;overflow:hidden;}
.ui-popup .pinner{height:54px;background-repeat:no-repeat;background-position:0 0;padding-left:14px;}
.ui-popup .pbody{height:54px;background-repeat:no-repeat;background-position:100% -54px;padding-right:6px;}
.ui-popup p{background-repeat:repeat-x;background-position:0 -108px;line-height:52px;font-size:14px;color:#006600;text-align:center;padding:0 20px 0 12px;overflow:hidden;}
.ui-popup p em{dislpay:none}
.ui-popup p span{height:54px;}
.ui-popup.info .pinner{background-position:0 -216px;padding-left:46px;}
.ui-popup.succeed .pinner{background-position:0 -162px;padding-left:46px;}
.ui-popup.error .pinner{background-position:0 -270px;padding-left:46px;}
.ui-popup.load p em{float:left;display:block;width:45px;height:50px;background:url("/images/common/load/32_oo.gif") 0 10px no-repeat;}
.ui-popup .pinner,.ui-popup .pbody,.ui-popup p{background-image:url("/images/common/struct/popups.png");}


.text-nowrap{
	white-space: nowrap;
	overflow: hidden;
	text-decoration: inherit;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

:not(td):not(th):not(tr).text-nowrap{max-width:100%;display:inline-block;}


.label,
.badge {
	font-size: 10.152px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #999999;
}
.label {
	padding: 1px 4px 2px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		border-radius: 3px;
}
.badge {
	padding: 1px 9px 2px;
	-webkit-border-radius: 9px;
	   -moz-border-radius: 9px;
		border-radius: 9px;
}
a.label:hover,
a.badge:hover {color: #ffffff;text-decoration: none;cursor: pointer;}
.label-important,
.badge-important {background-color: #b94a48;}
.label-important[href],
.badge-important[href] {background-color: #953b39;}
.label-warning,
.badge-warning {background-color: #f89406;}
.label-warning[href],
.badge-warning[href] {background-color: #c67605;}
.label-success,
.badge-success {background-color: #468847;}
.label-success[href],
.badge-success[href] {background-color: #356635;}
.label-info,
.badge-info {background-color: #3a87ad;}
.label-info[href],
.badge-info[href] {background-color: #2d6987;}
.label-inverse,
.badge-inverse {background-color: #333333;}
.label-inverse[href],
.badge-inverse[href] {background-color: #1a1a1a;}
.btn .label,
.btn .badge {position: relative;top: -1px;}
.btn-mini .label,
.btn-mini .badge {top: 0;}

