@charset "utf-8";
/*
Version:	VDCS comm @ui v1.0
Support:	http://uri.sx/vdcs.css
Uodated:	2014-05-00
*/
@import url("ui.i.css");
@import url("ui.btn.css");
@import url("ui.form.css");
@import url("ui.tooltip.css");
@import url("ui.processi.css");

