@charset "utf-8";


.ui-stat-container
{
	margin: 0;
	margin-bottom: 20px;
	list-style: none;
	text-align: center;
}
.ui-stat-container li
{
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
	position: relative;
	margin-bottom: 10px;
	*display: inline;
 /* IE7 inline-block hack */
	*zoom: 1;
}
.ui-stat-container li:after, 
.ui-stat-container li:before
{
	content: ' ';
	position: absolute;
	display: block;
	height: 1px;
	bottom: -2px;
	left: 3px;
	right: 3px;
	background-color: #fff;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	border: 1px solid #ccc;
	border-top: 0;
}
.ui-stat-container li:before
{
	bottom: -4px;
	left: 6px;
	right: 6px;
}


.ui-stat {
background-color: #fff;
border: 1px solid #ccc;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
position: relative;
display: inline-block;
padding: 15px 20px;
color: #444;
text-decoration: none;
line-height: 1;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.ui-stat:hover{color: #444;text-decoration: none;}

.ui-stat
{
	display: inline-block;
	*display: inline;
 /* IE7 inline-block hack */
	*zoom: 1;
}

/* Progress Stats
================================================== */
.ui-stat-container > li > .ui-stat.progress-stat{text-align: left;width: 265px;}
.ui-stat.progress-stat{display: block;margin-bottom: 15px;}
.ui-stat.progress-stat:last-child{margin-bottom: 0;}
.ui-stat.progress-stat .progress{margin: 0;}
.ui-stat.progress-stat .text{display: block;margin-bottom: 4px;}
.ui-stat.progress-stat .text > span{float: right;}

/* Summary Stats
================================================== */
.ui-stat.summary .digit
{
	font-size: 24px;
	padding: 4px 0;
	line-height: 40px;
	margin-left: 10px;
	font-weight: bold;
	line-height: 1;
	text-align: left;
	display: inline-block;
	*display: inline;
 /* IE7 inline-block hack */
	*zoom: 1;
	text-shadow: 1px 1px #eee;
}

.ui-stat.summary .text
{
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 11px;
	line-height: 1;
	text-shadow: none;
	color: #666;
}

.ui-stat.summary .icon{margin:4px 0;}


/* Circle Stats
================================================== */

.ui-stat.circular.inline .text
{
	display: inline-block;
	*display: inline;
 /* IE7 inline-block hack */
	*zoom: 1;
	margin: 10px 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-stat.circular{text-align: center;}

.ui-stat.circular .text
{
	font-size: 11px;
	line-height: 1;
	font-weight: bold;
	text-align: center;
	margin-top: 12px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	text-transform: uppercase;
}


.circular-stat{cursor: default;}
.circular-stat, 
.circular-stat .canvas-container
{
	display: inline-block;
	line-height: 1;
	font-size: 0;
	vertical-align: middle;
	position: relative;
}
.circular-stat .digit-container
{
	z-index: 10;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	display: inline-block;
	*display: inline;
 /* IE7 inline-block hack */
	*zoom: 1;
	vertical-align: middle;
	width: 100%;
}
