@charset "utf-8";
@import url("ui.tips.comma.css");
/*
Version:	VDCS comm @tips v1.0
Support:	http://go.hpns.cn/vdcs/css
Uodated:	2013-07-00
*/


.it{background-image:url("/images/common/struct/tips_input.png");background-position:2px 2px;background-repeat:no-repeat;padding-left:20px;}
.it.item{background-position:2px 2px;}
.it.passwd,
.it.password{background-position:2px -38px;}
.it.id{background-position:2px -78px;color:normal;font-family:normal;font-size:1em;}
.it.no{background-position:2px -118px;}
.it.key,.it.name,.it.names,.it.staff{background-position:2px -158px;}
.it.ua,.it.user,.it.username{background-position:2px -198px;}
.it.email{background-position:2px -238px;}
.it.mobile{background-position:2px -278px;}
.it.g{
_filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
}


.ih{display:inline-block;width:16px;height:16px;background:url("/images/common/struct/tips_icon.png") 0 0 no-repeat;cursor:help;}
.ih.require,
.ih.info{background-position:0 -64px;display:inline-block!important;}
.ih.error{background-position:0 -16px;display:inline-block!important;}
.ih.succeed{background-position:0 -32px;display:inline-block!important;}
.ih.help{background-position:0 -199px;display:inline-block!important;cursor:help;}


.iactivity{font-weight: normal;text-decoration: none;border: 1px solid #e1ca82;margin-top: 3px;
	background: #ffeaa6;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, .5)), color-stop(100%,rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	.rc(3px);
}
.iactivity.s{font-size: 11px;font-weight: normal;line-height: 170%;margin-bottom: 7px;vertical-align: middle;}


.iconfirm{clear:both;min-width:250px;padding:20px 50px;}
.iconfirm .itip{margin-left:auto;margin-right:auto;}

.tipload-container{position:relative;overflow:hidden;}
.tipload-shade{background-color:#FFF;-khtml-opacity:0.5;-moz-opacity:0.5;opacity:0.5;}
.tipload-shade,
.tipload{display:block;width:100%;height:100%;position:absolute;top:0;left:0;}
.tipload{text-align:center;vertical-align:middle;}
.tipload > em{display:inline-block;width:16px;height:16px;background:url("/images/common/load/16_o.gif") 0 0 no-repeat;margin:0 auto;}
